# Q1: Import pandas library

In [3]:
# write your code here ^_^
import pandas as pd

# Q2: Read instagram_users.csv file

In [56]:
# write your code here ^_^


df =pd.read_csv(r"C:/Users/LENOVO/OneDrive/Desktop/Tuwaiqpro/Day-8/Labs/instagram_users.csv") #Prefix the string with an r to treat it as a raw string

# Q3: Print the number of rows and columns contained in the dataset

In [62]:
# write your code here ^_^

# The number of rows and columns
df.shape

(65326, 18)

# Q4: Print the size of dataset

In [79]:
# write your code here ^_^

#Print the size of the dataset

memory_usage = df.memory_usage(deep=True).sum()  # Total memory usage in bytes

# Print the results
print(f"Total memory usage of the dataset: {memory_usage} bytes")

Total memory usage of the dataset: 12150768 bytes

# Q5: Print the data type of each column

In [87]:
# write your code here ^_^

#print the data type 
df.dtypes

pos        int64
flw        int64
flg        int64
bl         int64
pic        int64
lin        int64
cl         int64
cz       float64
ni       float64
erl      float64
erc      float64
lt       float64
hc       float64
pr       float64
fo       float64
cs       float64
pi       float64
class     object
dtype: object

# Q6: Print the entire dataset
Note: if your dataset contains more than 60 rows, only the first 5 rows and the last 5 rows will be printed.

In [105]:
# write your code here ^_^


# Check the number of rows in the dataset
if len(df) > 60:
    
    # Print the first 5 and last 5 rows
    print(df.head())
    print("\n...\n")  # Separator for clarity
    print(df.tail())
else:
    # Print the entire dataset
    print(df)

   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f

...

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q7: Print the first 5 rows

In [103]:
# write your code here ^_^

print(df.head()) # by default, returns the first 5 rows of a DataFrame

   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f

# Q8: Print the last 5 rows

In [107]:
# write your code here ^_^

print(df.tail())

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q9: Print the total number of null values

In [111]:
# write your code here ^_^

# Calculate the total number of null values
total_nulls = df.isnull().sum().sum()

# Print the result
print(f"Total number of null values: {total_nulls}")

Total number of null values: 0

# Q10: Print the rows that has duplicate values

In [115]:
# write your code here ^_^

#rows with duplicate values

duplicate_rows = df[df.duplicated(keep=False)]  # keep=False marks all duplicates as True

# Print the duplicate rows
print(duplicate_rows)

       pos  flw   flg  bl  pic  lin  cl   cz   ni  erl  erc   lt   hc   pr  \
2524     0   30   149   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3584     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4118     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4165     0   30   149   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5714     0    0     0   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...   ...  ..  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
32745    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32747    0   34  7500   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32748    0   77  7400   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32749    0   70  7300   0    0    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32764    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0

        fo   cs   pi class
2524   0.0  1.0  0.0     f
3584   0.0  0.0  0.0     f
4118   0.0  0.0  0.0     f
4165   0.0  1.0  0.0     f
5714   0.0  1.0  0.0     f
...    ...  ...  ...   ...
32745  0.0  0.0  0.0     f
32747  0.0  1.0  0.0     f
32748  0.0  1.0  0.0     f
32749  0.0  1.0  0.0     f
32764  0.0  0.0  0.0     f

[1460 rows x 18 columns]

# Q11: Remove all duplicate values

In [139]:
# write your code here ^_^
#Remove all duplicate valuas

df_duplicate = df.drop_duplicates ()

print(df_duplicate)

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
0        44    48   325   33    1    0   12  0.000000  0.000   0.000000  0.00
1        10    66   321  150    1    0  213  0.000000  1.000  14.390000  1.97
2        33   970   308  101    1    1  436  0.000000  1.000  10.100000  0.30
3        70    86   360   14    1    0    0  1.000000  0.000   0.780000  0.06
4         3    21   285   73    1    0   93  0.000000  0.000  14.290000  0.00
...     ...   ...   ...  ...  ...  ...  ...       ...    ...        ...   ...
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
0      0.000  0.000  0.0  0.000  0.111111     0.094985     f
1      0.000  1.500  0.0  0.000  0.206826   230.412857     f
2      0.000  2.500  0.0  0.056  0.572174    43.569939     f
3      0.000  0.000  0.0  0.000  1.000000     5.859799     f
4      0.667  0.000  0.0  0.000  0.300494     0.126019     f
...      ...    ...  ...    ...       ...          ...   ...
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

[64244 rows x 18 columns]

# Q12: Print the number of rows and columns contained in the dataset after removing the duplicate values

In [147]:
# write your code here ^_^

# shape the dataset after removing the duplicate values
df_duplicate.shape

(64244, 18)

# Q13: Rename all dataset's columns

|  Column name  |  New column name  |  Description  |
| ----- | -------- | ------- |
| pos    | Num_posts        | Number of total posts that the user has ever posted   |
| flg    | Num_following    | Number of following                                   |
| flr    | Num_followers    | Number of followers                                   |
| bl     | Biography_length | Length (number of characters) of the user's biography |
| pic    | Picture_availability | Value 0 if the user has no profile picture, or 1 if has |
| lin    | Link_availability| Value 0 if the user has no external URL, or 1 if has |
| cl     | Average_caption_length | The average number of character of captions in media |
| cz     | Caption_zero     | Percentage (0.0 to 1.0) of captions that has almost zero (<=3) length |
| ni     | Non_image_percentage | Percentage (0.0 to 1.0) of non-image media. There are three types of media on an Instagram post, i.e. image, video, carousel
| erl    | Engagement_rate_like | Engagement rate (ER) is commonly defined as (num likes) divide by (num media) divide by (num followers)
| erc    | Engagement_rate_comment | Similar to ER like, but it is for comments |
| lt     | Location_tag_percentage | Percentage (0.0 to 1.0) of posts tagged with location |
| hc     | Average hashtag count   | Average number of hashtags used in a post |
| pr     | Promotional keywords | Average use of promotional keywords in hashtag, i.e. regrann, contest, repost, giveaway, mention, share, give away, quiz |
| fo     | Followers keywords | Average use of followers hunter keywords in hashtag, i.e. follow, like, folback, follback, f4f|
| cs     | Cosine similarity  | Average cosine similarity of between all pair of two posts a user has |
| pi     | Post interval      | Average interval between posts (in hours) |
| class  | real_fake          | r (real/authentic user), f (fake user/bought followers) |

In [153]:
# write your code here ^_^

# Create a dictionary for renaming the columns
new_column_names = {
    'pos': 'Num_posts',
    'flg': 'Num_following',
    'flr': 'Num_followers',
    'bl': 'Biography_length',
    'pic': 'Picture_availability',
    'lin': 'Link_availability',
    'cl': 'Average_caption_length',
    'cz': 'Caption_zero',
    'ni': 'Non_image_percentage',
    'erl': 'Engagement_rate_like',
    'erc': 'Engagement_rate_comment',
    'lt': 'Location_tag_percentage',
    'hc': 'Average_hashtag_count',
    'pr': 'Promotional_keywords',
    'fo': 'Followers_keywords',
    'cs': 'Cosine_similarity',
    'pi': 'Post_interval',
    'class': 'real_fake'
}

# Rename the columns
df.rename(columns=new_column_names, inplace=True)

# Print the updated DataFrame
print(df.head())

   Num_posts  flw  Num_following  Biography_length  Picture_availability  \
0         44   48            325                33                     1
1         10   66            321               150                     1
2         33  970            308               101                     1
3         70   86            360                14                     1
4          3   21            285                73                     1

   Link_availability  Average_caption_length  Caption_zero  \
0                  0                      12           0.0
1                  0                     213           0.0
2                  1                     436           0.0
3                  0                       0           1.0
4                  0                      93           0.0

   Non_image_percentage  Engagement_rate_like  Engagement_rate_comment  \
0                   0.0                  0.00                     0.00
1                   1.0                 14.39                     1.97
2                   1.0                 10.10                     0.30
3                   0.0                  0.78                     0.06
4                   0.0                 14.29                     0.00

   Location_tag_percentage  Average_hashtag_count  Promotional_keywords  \
0                    0.000                    0.0                   0.0
1                    0.000                    1.5                   0.0
2                    0.000                    2.5                   0.0
3                    0.000                    0.0                   0.0
4                    0.667                    0.0                   0.0

   Followers_keywords  Cosine_similarity  Post_interval real_fake
0               0.000           0.111111       0.094985         f
1               0.000           0.206826     230.412857         f
2               0.056           0.572174      43.569939         f
3               0.000           1.000000       5.859799         f
4               0.000           0.300494       0.126019         f

# Q14: Change the class's values to real and fake

In [155]:
# write your code here ^_^

# Change the class values
df['real_fake'] = df['real_fake'].replace({'r': 'real', 'f': 'fake'})

# Print the new DataFrame
print(df[['real_fake']].head())

  real_fake
0      fake
1      fake
2      fake
3      fake
4      fake

# Q15: Print the total number of each fake accounts and real accounts

In [157]:
# write your code here ^_^

# Count the number of each account type
account_counts = df['real_fake'].value_counts()

# Print the results

print(account_counts)

real_fake
fake    32866
real    32460
Name: count, dtype: int64

# Q16: Print the count, mean, std, min, 25%, 50%, 75% and the max for each column

In [159]:
# write your code here ^_^

# Print the statistical summary for each column
stats_summary = df.describe()

# Print the results
print(stats_summary)

          Num_posts           flw  Num_following  Biography_length  \
count  65326.000000  6.532600e+04   65326.000000      65326.000000
mean     176.571227  1.183077e+03    2310.519211         57.497061
std      723.470655  2.170802e+04    2592.096104         64.129260
min        0.000000  0.000000e+00       0.000000          0.000000
25%        6.000000  1.230000e+02     394.000000          0.000000
50%       30.000000  3.380000e+02     995.000000         32.000000
75%      124.000000  8.170000e+02    3600.000000        110.000000
max    76200.000000  3.900000e+06    8800.000000        555.000000

       Picture_availability  Link_availability  Average_caption_length  \
count          65326.000000       65326.000000            65326.000000
mean               0.951765           0.281925              136.520344
std                0.214264           0.449940              215.714486
min                0.000000           0.000000               -1.000000
25%                1.000000           0.000000                8.000000
50%                1.000000           0.000000               46.000000
75%                1.000000           1.000000              170.000000
max                1.000000           1.000000             3644.000000

       Caption_zero  Non_image_percentage  Engagement_rate_like  \
count  65326.000000          65326.000000          65326.000000
mean       0.250012              0.193229             19.146641
std        0.337891              0.252939            121.047570
min        0.000000              0.000000              0.000000
25%        0.000000              0.000000              2.730000
50%        0.055556              0.059000              9.450000
75%        0.444444              0.333000             18.680000
max        1.000000              1.000000          26650.000000

       Engagement_rate_comment  Location_tag_percentage  \
count             65326.000000             65326.000000
mean                  1.139421                 0.208877
std                   5.810627                 0.300362
min                   0.000000                 0.000000
25%                   0.080000                 0.000000
50%                   0.440000                 0.000000
75%                   1.040000                 0.333000
max                1009.090027                 1.000000

       Average_hashtag_count  Promotional_keywords  Followers_keywords  \
count           65326.000000          65326.000000        65326.000000
mean                0.507796              0.032745            0.052837
std                 1.156921              0.220987            0.519058
min                 0.000000              0.000000            0.000000
25%                 0.000000              0.000000            0.000000
50%                 0.077000              0.000000            0.000000
75%                 0.611000              0.000000            0.000000
max                30.000000             20.000000           58.000000

       Cosine_similarity  Post_interval
count       65326.000000   65326.000000
mean            0.299098     496.475193
std             0.349604     944.905389
min             0.000000       0.000000
25%             0.033327      24.571458
50%             0.136915     183.227943
75%             0.456342     580.771927
max             1.000000   26786.134766